.header{
    height: 5rem;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 9rem;
    padding-right: 9rem;
}
.header a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin-left: 2.2rem;
}
.header a:hover{
    color: orange;
}
.text-color{
    color: white;
}